section {
    padding: 2px 0;
}
section.buddy {
    background-color: @color-buddy;
    color: #FFF;
    text-shadow: 2px 2px 1px darken(@color-buddy, 10%);
}

.container {
    margin: auto;
    width: 960px;
}